<CascadingValue Value="this">
    @ColumnDefinitions
    @RowDefinitions

    <div @ref="_gridElement" class="ukho-workbench-grid-root" style="@GridStyle">
        @Content

        @if (_layoutReady)
        {
            foreach (var splitter in GetValidatedColumnSplitters())
            {
                <div class="ukho-workbench-grid-splitter ukho-workbench-grid-splitter-column"
                     data-ukho-workbench-splitter="column"
                     data-splitter-track-index="@splitter.Index"
                     data-previous-track-index="@(splitter.Index - 1)"
                     data-next-track-index="@(splitter.Index + 1)"
                     style="grid-column: @splitter.Index; grid-row: 1 / -1;"></div>
            }

            foreach (var splitter in GetValidatedRowSplitters())
            {
                <div class="ukho-workbench-grid-splitter ukho-workbench-grid-splitter-row"
                     data-ukho-workbench-splitter="row"
                     data-splitter-track-index="@splitter.Index"
                     data-previous-track-index="@(splitter.Index - 1)"
                     data-next-track-index="@(splitter.Index + 1)"
                     style="grid-column: 1 / -1; grid-row: @splitter.Index;"></div>
            }
        }
    </div>
</CascadingValue>
